<div class="card" style="width: 18rem;">
  <a href="/proto-info/{{_id}}"><img src="{{this.image}}" class="card-img-top" alt="{{this.name}}"></a> 
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{min_players}} - {{max_players}} players</li>
    <li class="list-group-item">{{min_playtime}} - {{max_playtime}} min</li>
    <li class="list-group-item">Categories: {{category}}</li>
    <li class="list-group-item">Mechanisms:{{mechanisms}} </li>
  </ul>
  <div class="card-body">
    <p class="card-text">Design notes: {{this.designer_notes}}</p>
  </div>
</div>