

<h2>{{name}}</h2>

<div>

  <img src="{{image}}" alt="{{name}}">

  <p>{{description}}</p> 

  <p>Rating: {{rating}}</p> 

  <p>Published in: {{year_published}}</p>

  <p>Players: {{min_players}} - {{max_players}}</p>

  <p>Play time: {{min_playtime}} - {{max_playtime}}</p>

  <p>Complexity: {{complexity}}</p>

  <p>Global ranking: {{rank}}</p>

  <p>category: {{category}}</p>

  <p>mechanisms: {{mechanism}}</p>

  <form action="/add-game/{{_id}}" method="POST">
    <button type="submit" class="btn btn-outline-success btn-lg">Add to my collection</button>
  </form>
  {{#if alertMessage}}
    <p>{{alertMessage}}</p>
  {{/if}}

  <form action="/comment-game/{{_id}}" method="POST">
    <textarea name="comments" id="comments" cols="30" rows="10" placeholder="whrite a comment here"></textarea>
    <button type="submit" class="btn btn-outline-warning btn-lg">WRITE COMMENT</button>
    {{#if commentMessage}}
      <p>{{commentMessage}}</p>
    {{/if}}
  </form>
  
  <a href="/remove-game/{{_id}}">REMOVE FROM MY COLLECTION</a>
    {{#if deleteMessage}}
      <p>{{deleteMessage}}</p>
    {{/if}}
  

  <p>Comments:</p>
  <ul>
    {{#each comments}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

</div>