



<div class="jumbotron game-info-view">
  <div class="game-info">
    <div class="details-image">
      <img src="{{image}}" alt="{{name}}">
    </div>
    <div class="details-info">
      <h3>{{name}}</h3>
      <p>{{description}}</p> 
      <hr>
      <p>Rating: {{rating}} - Global rank: nยบ {{rank}}</p> 
      <p>Published in: {{year_published}}</p>
      <p>{{min_players}} - {{max_players}} players</p>
      <p>Play time: {{min_playtime}} - {{max_playtime}} min</p>
      <p>Complexity: {{complexity}} / 5</p>
      <p></p>
      <p>Category: {{category}}</p>
      <p>Mechanisms: {{mechanism}}</p>

      <form action="/add-game/{{_id}}" method="POST">
        <button type="submit" class="add-btn btn btn-outline-success btn-lg">ADD TO COLLECTION</button>
      </form>
      {{#if alertMessage}}
        <p>{{alertMessage}}</p>
      {{/if}}

      <a href="/remove-game/{{_id}}">Remove from my collection</a>
        {{#if deleteMessage}}
          <p>{{deleteMessage}}</p>
        {{/if}}
    </div>
  </div>
  <div class="comments">
    <div class="comment-section">
      <form class="comment-form" action="/comment-game/{{_id}}" method="POST">
          <textarea name="comments" id="comments" rows="2" placeholder="Leave comment here"></textarea>
          <button type="submit" class="comment-btn btn btn-outline-warning btn-lg">Send comment </button>
          {{#if commentMessage}}
            <div class="comment-alert alert alert-warning" role="alert">
              {{commentMessage}}
            </div>
          {{/if}}
      </form>
      <div class="all-comments">
        <p>Comments:</p>
          <ul>
            {{#each comments}}
              <li>"{{this}}"</li>
            {{/each}}
          </ul>
      </div>
    </div>
  </div>
</div>