
<div class="jumbotron game-info-view">
  <div class="game-info">
    <div class="details-image">
      <img src="{{image}}" alt="{{name}}">
    </div>
    <div class="details-info">
      <h3>{{name}}</h3>
      <p>{{description}}</p> 
      <hr>
      <p>Tags: {{tags}}</p>
      <p>{{min_players}} - {{max_players}} players</p>
      <p>Play time: {{min_playtime}} - {{max_playtime}} min</p>
      <p>Categories: {{category}}</p>
      <p>Mechanisms: {{mechanisms}}</p>
      <form action="/edit-proto/{{_id}}" method="GET">
        <button type="submit" class="add-btn btn btn-outline-success btn-lg">EDIT PROTOTYPE</button>
      </form>
      <a href="/remove-prototipe/{{_id}}">Delete prototype</a>
    </div>
  </div>
  <div class="comments">
    <div class="comment-section">
      <form class="comment-form" action="/add-note/{{_id}}" method="POST">
          <textarea name="designer_notes" id="comments" rows="2" placeholder="Add notes here"></textarea>
          <button type="submit" class="comment-btn btn btn-outline-warning btn-lg">Save</button>
      </form>
      <div class="all-comments">
        <p> <i>Design notes:</i> </p>
        <p>{{designer_notes}}</p>
      </div>
    </div>
  </div>
</div>