

<h2>{{name}}</h2>

<div>

  <img src={{image}} alt="{{name}}">

  <p>{{description}}</p> 

  <p>Players: {{min_players}} - {{max_players}}</p>

  <p>Play time: {{min_playtime}} - {{max_playtime}}</p>

  <p>Complexity: {{complexity}}</p>

  <p>category: {{category}}</p>

  <p>mechanisms: {{mechanism}}</p>

  <p>designer_notes: {{designer_notes}}</p>

  <form action="/edit-proto/{{_id}}" method="GET">
    <button type="submit" class="btn btn-outline-success btn-lg">EDIT PROTOTIPE</button>
  </form>
  
  <a href="/remove-prototipe/{{_id}}">DELETE PROTOTIPE</a>

</div>